In [7]:
def printEven(n):
    cnt=0;
    sum=0;
    while(cnt!=n):
        if(cnt%2==0):
            sum=sum+cnt;
        cnt=cnt+1;
    return sum;
print(printEven(20));

90

# example functional programming
## factors list of a given number

In [8]:
def factorslist(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i);
        i=i+1;
    return;
factorslist(12);

1
2
3
4
6

## list in python
### list can be written in python with square brackets and each item in the list separeded by comma operation
### list item can be anything-- int,char,float,string
#### example of list
##### list[1,2,3,4,5]

In [9]:
list1=[1,2,3,4,5];
print(list1);

[1, 2, 3, 4, 5]

In [10]:
list=[1,2,3,4,5];
#entire list;
print(list1);
#list[0];
print(list1[0]);

[1, 2, 3, 4, 5]
1

### for loop
#### syntax:
            for <variablename> in <seq>:
                    <statement>

# list example with particular index

In [15]:
lst1=[1,2,3,4,5,6,7];
for x in lst1:
    print(x,end=" ")
print();
print(lst1[4]);
print(lst1[3:6]);

1 2 3 4 5 6 7
5
[4, 5, 6]

In [17]:
lst1=[1,2,3,4,5,6,7,8,9,10];
for x in lst1:
    print(x,end=" ");

1 2 3 4 5 6 7 8 9 10

In [24]:
lst1=[1,2,3,4,5,6,7,8,9,10];
for x in lst1:
    print(x,end=" " );
print();
print(lst1[1:-1]);
print(lst1[2:-2]);
print(lst1[::2]);
print(lst1[::3]);
print(lst1[::-2]);
print(lst1[-2]);

1 2 3 4 5 6 7 8 9 10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[10, 8, 6, 4, 2]
9

In [27]:
lst1=["vasavi","kavya","shriya",2];
print(lst1);
lst1[2]=15;
print(lst1);
del lst1[3];
print(lst1);
lst1[1]="gitam";
print(lst1);
lst2=[1,2,3];
print(lst2);
print(lst1+lst2);

['vasavi', 'kavya', 'shriya', 2]
['vasavi', 'kavya', 15, 2]
['vasavi', 'kavya', 15]
['vasavi', 'gitam', 15]
[1, 2, 3]
['vasavi', 'gitam', 15, 1, 2, 3]

## list methods:

### append(obj):
#### the method appends a passed object into existing list

### remove(obj):
#### the method removes the passed object from the first occurence from the left side

### reverse():
#### the reverse() reverses object of the list

In [4]:
lst1=["gitam","python","raptor",1,5,"python","python"];
print(lst1);
lst1.index("python")
lst1.index(1)
print(len(lst1))
lst1.insert(2,2019);
print(lst1);
print(len(lst1));
lst1.insert(4,2020);
print(lst1);
lst1.remove("python")
print(lst1)
lst1.reverse()
print(lst1)

['gitam', 'python', 'raptor', 1, 5, 'python', 'python']
7
['gitam', 'python', 2019, 'raptor', 1, 5, 'python', 'python']
8
['gitam', 'python', 2019, 'raptor', 2020, 1, 5, 'python', 'python']
['gitam', 2019, 'raptor', 2020, 1, 5, 'python', 'python']
['python', 'python', 5, 1, 2020, 'raptor', 2019, 'gitam']

## list with range()function
### range(number): 0 to number

In [1]:
def linearexample(a,n):
    for i in range(len(a)):
        if a[i]==n:
            j=0;
            while j!=i+1:
                print("!",end =" ");
                j=j+1;
                print(end =" ");
a=[1,5,9,6,5,15,12,5]
linearexample(a,5);

!  !  !  !  !  !  !  !  !  !  !  !  !  !  !

### liner search example 3
#### input:list
#### output:formatted output
#### test case:[1,2,3,4,5]------1 3 8 1 5 5

In [11]:
def linearformattedoutput(a):
    for i in range(len(a)):
        if i==0 or i==(len(a)-1):
            print(a[i],end =" ");
        else:
            print(a[i-1]*a[i+1],end=" ");
    
a=[1,2,3,4,5];
linearformattedoutput(a);

1 3 8 15 5

## linear search
### input:list
### output:formatted output
### test case:[1,6,9,4,16,19,22]---1 9 19 22
#### *first and last item to be same
#### *for the middle items need to check both sides of the numbers is even or not,if it is even then print that item otherwise skip that item

In [15]:
def linearformattedoutput(a):
    for i in range(len(a)):
        if i==0 or(i==len(a)-1):
            print(a[i],end=" ");
        elif a[i-1]%2==0 and a[i+1]%2==0:
            print(a[i],end=" ");
a=[1,6,9,4,16,19,22];
linearformattedoutput(a);

1 9 19 22

# example on linear search
## input:a number
## output:list
## test case:14569--[1,4,5,6,9] and 1974--[1,9,7,4]
### print the list in revese order

In [17]:
def numbertolistconverstion(n):
    lst=[];
    while n!=0:
        r=n%10;
        lst.append(r);
        n=n//10;
    lst.reverse();
    print(lst);
n=int(input("enter a number"));
numbertolistconverstion(n);

enter a number14569
[1, 4, 5, 6, 9]

## list to number conversion
1. [1,4,5,6,9]--14569
2. [1,4,5,6,9]--46(you have consider only even in the list)
3. 14569--[4,6](you have consider only even digits to list)

In [32]:
def listtonumberconversion(a):
    n=0
    for i in range (len(a)):
        n=n*10+a[i]

    
        
    print(n)
lst=[1,2,3,4]       
listtonumberconversion(lst);

1234

In [35]:
def evennumberinlist(n):

    for i in n:
        if(i%2==0):
            print(i,end=" ");
n=[1,4,5,6,9]
evennumberinlist(n)

4 6

In [ ]:
def evenlistinnumber(n):
    r=0
    lst=[]
    while (n!=0):
        r=n%10;
        if(r%2==0):
            lst.append(r);
            n=n//10;
    lst.reverse();
    print(lst)
n=int(input("enter a number"));
evenlistinnumber(n);

enter a number1234